<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <link rel="stylesheet" href="style.css">
  <link rel="icon" type="image/png" href="logo.png">
  <title>Toplomjer</title>
</head>
<body oncontextmenu="return false" class="snippet-body like" style="background:linear-gradient(#ffc100,#ff9a00, #ff7400)">
<div class="flex1">
  <button onclick="javascript:history.back()" class="wrapper" style="width:25%; max-width: 82px; padding: 8px 8px 8px 8px;">
    <img src="backarrow_logo.png">
  </button>

  <button th:onclick="window.location.href = '/form-01?id=[[${currUser.id}]]&password=[[${currUser.password}]]'" class="wrapper" style="width:25%; max-width: 82px;padding: 8px 8px 8px 8px;">
    <img src="home_logo.png">
  </button>

</div>
<div class="flex2">

<div class="wrapper">


  <p style="margin-bottom: 16px; text-align:center; font-weight:500">
    Kako bi opisali svoju bol?
  </p>
  <div class="wrapper2" style="background-color:#FAF8F1">
    <div class="help-tip">
      <p>
        Snažna duboka bol, kao prosječna zubobolja, bol od svježeg pčelinjeg uboda, ili od posjekotine kuhinjskim nožem. Bol je tako jaka da je primjećujete cijelo vrijeme i ne možete se u potpunosti prilagoditi na nju.
      </p>
    </div>

    <button onclick = "window.location.href = '/form-3?painLevel=4'" class="button-pain2" style="background-color:#FAF8F1; color:black;">Uznemirujuća</button>


  </div>
  <div class="wrapper2"  style="background-color:#FAEAB1">
    <div class="help-tip">
      <p>Snažna, duboka, prodorna bol, kao kad krivo stanete na istegnuti gležanj, ili dugotrajna križobolja. Cijelo vrijeme primjećujete bol i toliko ste zaokupljeni njenim ublažavanjem da to ograničava vaš normalan način života.
      </p>
    </div>

    <button onclick = "window.location.href = '/form-3?painLevel=5'" class="button-pain2" style="background-color:#FAEAB1; color:black;">Veoma uznemirujuća</button>



  </div>
  <div class="wrapper2"  style="background-color:rgb(229, 200, 150)">
    <div class="help-tip">
      <p>
        Snažna, duboka, prodorna bol koja vam stalno okupira misli. Bol je usporediva s teškom glavoboljom. Teško vam je razmišljati o bilo čemu drugome osim o boli. Izbjegavate kontakte s drugim ljudima.
      </p>
    </div>

    <button onclick = "window.location.href = '/form-3?painLevel=6'" class="button-pain2" style="background-color:rgb(229, 200, 150); color:black;">Intenzivna</button>

  </div>
  <button class="button-legenda" onclick="window.location.href='/showLegend?ref=22'">Legenda</button>

</div>
  </div>

</body>
</html>